.customControlPanel {
  
  position: absolute;
  display: flex;
  width: 4rem;
  flex-direction: column;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 16px !important;
  top: 5%;
  box-shadow: black !important;
  align-items: center;
}
.customTooltip {
  font-size: 5.2rem !important; /* Adjust font size */
}

.panelBtn {
  text-align: center;
  width: 80%;
  height: 80%;
  color: #b5b5b5;
}
.panelBtn:hover {
  color: black;
  cursor: pointer;
}
.panelBrk {
  width: 80%;
  border: 1px solid rgb(167, 160, 160);
}
.optionsBox {
  position: absolute;
  background: grey;
  border: 1px solid #ccc;
  padding: 10px;
  top: 10px;
  left: 90px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 1;
  width: 8.5rem;
}
.optionsBox2 {
  position: absolute;
  background: grey;
  border: 1px solid #ccc;
  padding: 10px;
  top: 200px;
  left: 90px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 1;
  width: 10.5rem;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.optionsBox3 {
  position: absolute;
  background: grey;
  border: 1px solid #ccc;
  padding: 10px;
  top: 380px;
  left: 90px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 1;
  width: 10.5rem;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.optionsBox4 {
  position: absolute;
  background: grey;
  border: 1px solid #ccc;
  padding: 10px;
  top: 10px;
  left: 270px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 1;
  width: 10.5rem;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.optionBtn2 {
  background: #3c3737;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5%;
  color: #ffffff;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}
.optionBtn2:hover {
  background: #555454;
}
.optionBtn {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5%;
  color: #ffffff;
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  background: #3c3737;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

.optionBtn:hover {
  background: #555454;
}

.edge-label-renderer__custom-edge {
  position: absolute;
  color: #ffffff;
  background-color: #1e656d;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}

.edgeLabel_icon {
  width: 16px;
  height: 10px;
  background: black;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  opacity: 0.8;
  color: #ffffff;
}
.edgeLabel {
  position: absolute;
  pointer-events: all;
  padding: 4px;
  background-color: black;
  border-radius: 16px;
  transition: opacity 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .minimap{
    width: 100px;
  }
  .react-flow__minimap-svg{
    width: 100px;
  }
  .react-flow__attribution a{
    display: none;
  }
  .customControlPanel{
    display: flex;
    width: 95vw;
    flex-direction: row;
    top: 2%;
    padding: 1px;
  }
  .optionsBox{
    top:80px;
    left:10px;
  }
  .optionsBox4{
    top: 80px;
    left: 180px;
  }
  .optionsBox3{
    top:80px;
    left:200px;
  }
  .optionsBox2{
    top:80px;
    left:50px;
  }
}
// loader
.spinner {
  --size: 30px;
  --first-block-clr: linear-gradient(to bottom, #ff5f5f, #cc0000) !important;
  --second-block-clr: linear-gradient(to bottom, #6fb8ff, #0047ab) !important;
  --clr: #111;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.908);
}

.spinner::after,
.spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
}

.spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}
