.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bgImg {
  top: 0;
  position: absolute;
  width: 100%;
  height: 79vh;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 78.5vh; /* fix: vh not h */
  background-image: url("../assets/images/bgImg2.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.custom-shape-divider-bottom-1747234414 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); /* flip if you want wave at top */
  z-index: 1;
}

.custom-shape-divider-bottom-1747234414 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 20vh;
}

.custom-shape-divider-bottom-1747234414 .shape-fill {
  fill: #ffffff;
}

.text {
  color: white;
  position: absolute;
  font-size: 3.5vw;
  top: 30%;
  left: 5%;
  // border: 2px solid white;
  height: 15vw;
}
.text2 {
  color: white;
  // position: absolute;
  font-size: 1.5vw;
}
.btn {
  font-size: 1rem;
  border: none;
  background: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  border-radius: 25px;
}
.btn > a {
  color: white !important;
  text-decoration: none;
}
.features {
  background: #ffffff;
  width: 100%;
  height: 20vh;
  // border: 2px solid red;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.featuresList {
  color: #777777;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none !important;
}
.featuresHeader {
  color: #777777;
  padding-top: 1vw;
  font-size: 2.5vw;
  font-weight: 600;
  text-align: center;
  margin: 0%;
}
.featuresHeader::after {
  border-bottom: 2px solid #6372ff !important;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iconContainer {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  background: linear-gradient(135deg, #d3d3d3, #808080, #d3d3d3);
  width: max-content;
  padding: 5%;
  border-radius: 50%;
}
.icon {
  color: white;
  font-size: 3.5vw !important;
}
.feature > h2 {
  font-size: 1.5vw;
  font-weight: 600;
}
.btn {
  width: 10.5rem;
  height: 3.25vw;
  position: absolute;
  bottom: 0%;
  color: #ffffff !important;

  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: linear-gradient(135deg, #d3d3d3, #808080, #d3d3d3);

  // background: #cfef00;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 200;
}

.btn:hover {
  // background: #c4e201;
  background: linear-gradient(
    135deg,
    #4d4d4d,
    #1a1a1a,
    #4d4d4d
  ); // Dark grey gradient
}

.btn > svg {
  width: 2.125vw;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.btn:hover svg {
  transform: translateX(5px);
}

.btn:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .text {
    font-size: 2rem;
    top: 20%;
    left: 5%;
    height: 120px;
    // border: 2px solid white;
  }
  .text2 {
    font-size: 0.85rem;
  }
  .btn {
    width: 7.5rem;
    height: 4vw;
    bottom: 0%;
    font-size: 2.5vw;
  }
  .featuresHeader {
    font-size: 4vw;
  }

  .icon {
    color: white;
    font-size: 2rem !important;
  }
  .iconContainer {
    width: max-content;
    padding: 12%;
  }
  .feature > h2 {
    font-size: 0.5rem;
    font-weight: 600;
  }
  .img {
    height: 78.7vh; /* fix: vh not h */
  }
}
